.promoBanner__wrapper {
    .sticker {
        width: 100%;
        display: none;
        align-items: center;
        justify-content: center;
        height: 40px;
        background: $bgVioletBlue;
        color: $white;
        font-size: 20px;

        span {
            margin: 0 15px;
        }
    }

    &.timing {
        .sticker {
            display: flex;
        }
    }
}
.promoBanner {
    width: 100%;
    .mobile-br {
        display: none;
    }
    .speakers__btn-bought {
        display: none;
    }
    .promoBanner__txt {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: relative;
        height: auto;
        padding: 2rem 0;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
        }
        .bought__sticker {
            display: none;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 306px;
            height: 56px;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 0.085em;
            background: linear-gradient(356.54deg, #25558C -10.8%, #1994AB 94.81%);
            border-radius: 0px 0px 5px 5px;
        }

        h1 {
            font-size: 36px !important;
            font-weight: bold !important;
            text-align: center;
            line-height: 42px !important;
            max-width: 800px;
            width: 90vw;
            position: relative;
            z-index: 3;
        }

        h5 {
            font-size: 20px;
            line-height: 26px;
            margin-top: 20px;
            font-weight: bold;
            text-align: center;
            position: relative;
            z-index: 3;
        }

        h6 {
            text-align: center;
            font-size: 20px;
            margin-top: 10px;
            position: relative;
            z-index: 3;
        }
    }
    &.white {
        .promoBanner__txt {
            h1, h5, h6 {
                color: $bgGrey;
            }
        }
    }
    &.black {
        .promoBanner__txt {
            h1, h5, h6 {
                color: $textBlack;
            }
        }
    }
    &.btnBlack {
        .promoBanner__txt {
            .speakers__btn {
                &:before {
                    background-color: $bgOcean;
                }
                &::after {
                    background-color: $bgOcean;
                }
                div {
                    background-color: $textBlack;
                    color: $bgGrey;
                }
            }
        }
    }
    &.bought {
        .speakers__btn-bought {
            display: flex;
        }
        .noBought {
            display: none;
        }
        .promoBanner__txt {
            h6 {
                display: none !important;
            }
            h1 {
                margin-top: 2rem;
            }
            .bought__sticker {
                display: flex;
            }
        }
    }
}
@media (max-width: 760px) {
    .promoBanner__wrapper {
        .sticker {
            height: 25px;
    
            img {
                display: none;
            }
    
            span {
                font-size: 12px;
            }
        }
    }
    .promoBanner {
        width: 100%;
        .mobile-br {
            display: block;
        }
        .promoBanner__txt {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 100%;
            position: relative;
            height: auto;
            padding: 2rem 0;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 0;
            }
    
            .speakers__btn {
                max-width: 238px !important;
                min-width: 238px !important;

                div {
                    font-size: 15px !important;
                }
            }

            .bought__sticker {
                width: 202px;
                height: 32px;
                font-size: 10px;
            }

            h1 {
                font-size: 18px !important;
                line-height: 21px !important;
                margin-top: 0;
            }

            h5 {
                font-size: 15px;
                display: block;
            }

            h6 {
                font-size: 16px;
            }
        }
    }
}