
.first, .firstAlready {
  @include danger_text;

  .danger-text {
    text-transform: uppercase;
  }

  .header-line {
    min-height: 5vh;
    width: 100%;
    padding: 0.25rem;
    background: linear-gradient(91.17deg, #AF03B2 0%, #15478C 48.96%, #00B2B2 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    p {
      color: $white;
      margin: 0 1rem;
    }
  }

  &__nav {
    margin: 0 auto 1rem auto;
    width: 50%;
    min-height: 10vh;
    background-color: $bgGrey;
  }

  .noready {

    h1 {
      margin-bottom: 3rem;
    }

    p {
      text-transform: uppercase;
    }

    .first__content_pics {
      min-height: 20vh;
    }
  }

  &__banner {
    background: linear-gradient(91.17deg, rgba(175, 3, 178, 0.15  )  0%, rgba(21, 71, 140, 0.15) 48.96%, rgba(0, 178, 178, 0.15) 100%);
    padding: 2.5rem 5rem !important;

    button {
      font-size: 18px !important;
      line-height: 20px !important;
      padding: 1rem 4rem !important;
      margin-top: 2rem;
    }

    &_mobile {
      display: none;
    }

    &_main {
      img {
        margin-left: 1rem;
        margin-bottom: 1rem;
        width: 70%;
      }

      h2 {
        margin-bottom: 0;
      }
    }

    &_content {
      width: 75%;

      h2 {
        margin: 1rem 0;
      }

      .gift-heading {
        display: flex;
        align-items: center;

        h2 {
          margin-bottom: 0;
          margin-top: 0;
          margin-left: 1rem;
        }
      }
    }
  }

  &__content {
    background: linear-gradient(88.36deg, rgba(183, 182, 241, 0.6) -3.15%, rgba(243, 154, 154, 0.6) 84.21%);
    width: 100%;
    min-height: 20vh;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 1rem 0 2rem 0;
    }

    &_buttons {
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        margin: 0 1rem;
      }
    }

    &_pics {
      width: 100%;
      position: absolute;
      display: flex;
      justify-content: space-between;
      min-height: 45vh;
      align-items: center;
      bottom: 0;
      padding: 0 2rem;

      .cjm {
        width: 300px;
      }

      .jtbd {
        width: 200px;
        margin-bottom: 2rem;
      }
    }
  }

  &__products {
    padding: 2rem 4rem;

    h1 {
      padding-left: 1rem;
      margin-bottom: 2rem;
    }

    .col-xl-4 {
      margin-bottom: 2rem !important;
    }

    &_buttons {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_card {
      height: 100% !important;
      width: 100%;
      border-radius: 6px;
      box-shadow: 0 2px 6px rgba(29, 37, 47, 0.08), 0 4px 12px rgba(29, 37, 47, 0.12);
      display: flex;
      flex-direction: column;

      &:hover {
        box-shadow: 2px 2px 8px rgba(0, 178, 178, 0.5), -2px -2px 8px rgba(0, 178, 178, 0.5) !important;
        cursor: pointer;

        .first__products_card-placeholder {
          &::after {
            background-color: transparent;
          }
        }

        .first__products_card-placeholder {
          img {
            transform: scale(1.1);
          }
        }
      }

      &-placeholder {
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 6px 6px 0 0;
        overflow: hidden;

        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          transition: all .3s ease;
          background: rgba(29, 37, 47, 0.3);
        }

        img {
          width: 100%;
          height: auto;
          transition: .3s;
        }

        .banner {
          color: $white;
          background: #1D252F;
          opacity: 0.8;
          border-radius: 4px;
          width: fit-content;
          padding: 0.25rem 0.5rem;
          font-size: 9px !important;
          line-height: 12px;
          font-weight: bold;
          letter-spacing: 0.14em;
          text-transform: uppercase;
          position: absolute;
          bottom: 10px;
          left: 10px;
          margin: 0;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1.5rem;

        &--post {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 2rem;

          p {
            margin-bottom: 0;
          }

          .info-text {
            text-transform: uppercase;
            font-size: 10px;
            letter-spacing: 0.1em;
          }

          .post-content {
            display: flex;
            align-items: center;

            p {
              margin-right: 0.5rem;
              letter-spacing: 0.1em;
            }
          }
        }
      }
    }

    .info-card {
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 35vh;
      padding: 2rem;

      h2 {
        span {
          color: $bgOcean;
          text-transform: uppercase;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}

.firstAlready {
  &__content {

    h2 {
      padding: 2rem 0;
    }

    &_pics {
      min-height: 360px;
    }
  }
}

.reg {
  &__container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0 0;
  }
  &__title {
    p {
      font-family: Helios;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0,085em;
      text-align: center;
      text-transform: uppercase;  
      color: $bgMagenta;
    }
  }
  &__video {
    display: flex;
    padding: 20px;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(29, 37, 47, 0.08), 0px 4px 12px rgba(29, 37, 47, 0.12);
    border-radius: 6px;
    &_container {
      position: relative;
      height: 100px;
      width: 180px;
      margin-right: 25px;
    }
    &__screen {
      position: relative;
      height: 100px;
      width: 180px;
      img {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &_counter {
      position: absolute;
      background: #1D252F;
      border-radius: 5px;
      padding: 4px 1px 3px 3px;
      bottom: 3px;
      right: 3px;
      &-item {
        color: #fff;
        margin: 0px;
        padding: 0px;
        font-size: 12px;
      }
    }
    &_info {
      &-title {
        font-family: Helios;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 26px;
        color: #1D252F;
      }
      &-members {
        font-family: Helios;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 20px;
        color: #1D252F;
      }
      &-ux {
        font-family: Helios;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 28px;
        color: #8A8E93;
      }
    }
  }
}

@media screen and (max-width: 1750px) {
  .first {
    &__banner {
      &_main {
        img {
          width: 80%;
        }
      }

      &_content {
        width: 90%;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .first {
    &__content {
      &_pics {
        .jtbd {
          height: 175px;
          width: 175px;
        }
        .cjm {
          width: 225px;
        }
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .first {
    &__banner {
      &_main {
        img {
          width: 90%;
        }
      }

      &_content {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .first, .firstAlready {

    &__content {
      padding: 2rem;

      &_pics {
        display: none;
      }
    }

    &__banner {
      &_main {
        img {
          margin-left: 2.5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .first {
    &__banner {
      .row {
        flex-direction: column-reverse;
      }

      &_mobile {
        display: flex;
      }

      &_main {
        margin: 2rem 0;

        img {
          width: 80%;
          margin-left: 0;
        }

        h2 {
          display: none;
        }
      }

      &_content {
        button {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .first, .firstAlready {

    &__banner {
      padding: 2rem !important;

      button {
        font-size: 15px !important;
        line-height: 20px !important;
        width: 100%;
        padding: 1rem 2rem !important;
        margin-top: 0;
      }

      &_main {
        img {
          width: 100%;
        }
      }

      &_content {
        .big-bold-heading {
          font-size: 20px !important;
          line-height: 26px !important;
        }
      }
    }

    &__content {

      .big-bold-heading, p {
        margin-bottom: 2rem;
      }

      &_buttons {
        button {
          &:not(:last-child) {
            margin-bottom: 1rem;
          }
        }
      }
    }

    &__products {
      padding: 2rem 1rem;

      &_card {
        min-height: 30vh;
        margin-bottom: 2rem;
        height: auto;
    
        &-content {
          padding: 1rem 1rem 0 1rem;

          &--post {
            margin-top: 1rem;
          }

          .info-text {
            font-size: 10px !important;
            line-height: 158% !important;
            letter-spacing: 0.1em !important;
          }
        }
      }

      .info-card {
        margin-bottom: 0;
      }

      h1 {
        text-align: center;
        padding: 0;
      }
    }
  }

  .firstAlready {
    &__content {
      min-height: 35vh;
    }
  }
  .reg {
    &__video {
      flex-direction: column;
      align-items: center;
      width: 80%;
      max-width: 300px;
      &_container {
        margin: 0;
      }
      &_info {
        margin-top: 15px;
      }
    }
  }
}