.cards {
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper {
        display: flex;
        align-items: center;
        padding: 8px 15px;
        background-color: $bgGrey ;
        box-shadow: inset 0px 1px 2px rgba(29, 37, 47, 0.08), inset 0px 4px 6px rgba(29, 37, 47, 0.08);
        border-radius: 6px;
    }

    .menu_item {
        background-color: grey;
        transition: all .3s;
    }


    &__link {
        &:hover {
            .menu__item {
                &::before {
                    background: linear-gradient(90.92deg, #AF03B2 -96.02%, #00B2B2 216.28%);
                    opacity: 1;
                }
                span {
                    color: $white;
                    font-weight: 700;
                }
            }
        }
        &.active {
            .menu__item {
                background: linear-gradient(90.92deg, #AF03B2 -96.02%, #00B2B2 216.28%);
                span {
                    color: $white;
                    font-weight: 700;
                }
            }
        }
        .menu__item {
            width: 184px;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            transition: all .3s;
            margin: 0 5px;
            background: $bgGrey;
            position: relative;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                background: linear-gradient(90.92deg, #AF03B2 -96.02%, #00B2B2 216.28%);
                opacity: 0;
                transition: all .3s;
                position: absolute;
                top: 0;
                left: 0;
                border-radius: 4px;
            }

            span {
                color: $textGrey;
                font-size: 14px;
                text-transform: uppercase;
                transition: .3s all ease;
                z-index: 1000;
            }
        }
    }
}
