// BG colors

$bgOcean: #00B2B2;
$bgMagenta: #Af03B2;
$bgSun: #FEAE14;
$bgGrey: #F6F6F7;
$bgSuccess: rgba(14, 151, 85, 0.15);
$bgVioletBlue: linear-gradient(90.92deg, #AF03B2 -96.02%, #00B2B2 216.28%);

// Text colors

$textBlack: #1D252F;
$textGrey: #8A8E93;
$textLight: #C4C4C4;

// line colors

$lineSuccess: #0F9D58;
$lineLight: #DEDEDE;
$lineError: #C40000;

// Others

$white: #fff;
$blue: #16478C;

